<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>API Clima</title>
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="../js/script_bienvenida.js" defer></script>
    <script src="../js/clima.js" defer></script>
</head>
<body>
<header class="header">
    <img src="../statics/images/clima.png" alt="Clima" class="logo">
    <h1>API del Clima</h1>
</header>

<main class="container">
    <input id="ciudad" type="text" placeholder="Ej: Asunción">
    <button id="btnBuscar">Buscar</button>
    <button id="btnAsuncion">Mostrar Asunción</button>
    <a href="../index.html" class="btn link-home">Inicio</a>

    <div id="cardResultado" class="card hidden">
        <h2 id="nombreCiudad"></h2>
        <p>Temperatura: <span id="temperatura"></span> °C</p>
        <p>Humedad: <span id="humedad"></span> %</p>
        <p>Viento: <span id="viento"></span> m/s</p>
        <p>Clima: <span id="descripcion"></span></p>
        <img id="icono" alt="Icono Clima">
    </div>
    <div id="error" class="error hidden"></div>
</main>
</body>
</html>
