<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>API Criptomonedas</title>
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="../js/cripto.js" defer></script>
</head>
<body>
<header class="header">
    <img src="../statics/images/cripto.png" class="icon">
    <h1>API Criptomonedas</h1>
</header>

<div class="container">
    <select id="moneda">
        <option value="">Seleccione moneda</option>
        <option value="bitcoin">Bitcoin</option>
        <option value="ethereum">Ethereum</option>
        <option value="dogecoin">Dogecoin</option>
    </select>
    <button id="buscarCripto">Buscar</button>

    <div id="resultado" class="card hidden">
        <h3 id="nombreCripto"></h3>
        <p>Precio USD: <span id="precio"></span></p>
        <p>Cambio 24h: <span id="cambio"></span></p>
        <p>Market Cap: <span id="market"></span></p>
    </div>
    <a class="btn link-home" href="index.html">Inicio</a>

</div>
</body>
</html>
