<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TP4 – Proyecto APIs</title>
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="../js/script_bienvenida.js" defer></script>
</head>
<body>
<header class="header">
    <img src="../statics/images/logo.png" class="logo">
    <h1>Proyecto TP4 – APIs Interactivas</h1>
</header>

<section class="descripcion">
    <p>Bienvenido al proyecto. Selecciona la API que deseas explorar:</p>
</section>

<div class="botonera">

    <a href="clima.html" class="card">
        <img src="../statics/images/clima.png" class="icon">
        <span>API del Clima</span>
    </a>

    <a href="paises.html" class="card">
        <img src="../statics/images/paises.png" class="icon">
        <span>API Países</span>
    </a>

    <a href="pokemon.html" class="card">
        <img src="../statics/images/pokemon.png" class="icon">
        <span>API Pokémon</span>
    </a>

    <a href="rick.html" class="card">
        <img src="../statics/images/rick.png" class="icon">
        <span>API Rick & Morty</span>
    </a>

    <a href="cripto.html" class="card">
        <img src="../statics/images/cripto.png" class="icon">
        <span>API Criptomonedas</span>
    </a>

    <a href="index.html" class="card">
        <img src="../statics/images/logo.png" class="icon">
        <span>Inicio</span>
    </a>

</div>

<h2 id="bienvenida"></h2>
</body>
</html>
