<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>API Países - REST Countries</title>
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="../js/paises.js" defer></script>
    <script src="../js/script_bienvenida.js" defer></script>
</head>
<body>
<header class="header">
    <img src="../statics/images/paises.png" alt="Países" class="logo">
    <h1>API Países</h1>
</header>

<main class="container">
    <input type="text" id="nombrePais" placeholder="Ingrese país">
    <button id="btnBuscarPais">Buscar</button>
    <a href="../index.html" class="btn link-home">Inicio</a>

    <div id="resultadoPais" class="card hidden">
        <h2 id="paisNombre"></h2>
        <p>Capital: <span id="paisCapital"></span></p>
        <p>Población: <span id="paisPoblacion"></span></p>
        <img id="paisBandera" src="" alt="Bandera" class="flag">
    </div>
</main>
</body>
</html>

