<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>API Pokémon</title>
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="../js/pokemon.js" defer></script>
</head>
<body>
<header class="header">
    <img src="../statics/images/pokemon.png" class="icon">
    <h1>API Pokémon</h1>
</header>

<div class="container">
    <input type="text" id="pokemon" placeholder="Ingrese nombre o ID">
    <button id="buscarPokemon">Buscar</button>

    <div id="resultado" class="card hidden">
        <h3 id="nombrePokemon"></h3>
        <img id="imagenPokemon" src="" alt="Pokémon" width="100">
        <p>Tipo: <span id="tipo"></span></p>
        <p>Peso: <span id="peso"></span></p>
    </div>
    <a class="btn link-home" href="index.html">Inicio</a>

</div>
</body>
</html>
