<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>API Pokémon</title>
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="../js/script_bienvenida.js" defer></script>
    <script src="../js/pokemon.js" defer></script>
</head>
<body>
<header class="header">
    <img src="../statics/images/pokemon.png" alt="Pokémon" class="logo">
    <h1>API Pokémon</h1>
</header>

<main class="container">
    <input type="text" id="pokemon" placeholder="Nombre o ID">
    <button id="buscarPokemon">Buscar</button>
    <a href="../index.html" class="btn link-home">Inicio</a>

    <div id="resultado" class="card hidden">
        <img id="imagenPokemon" src="" alt="Imagen Pokémon">
        <h2 id="nombrePokemon"></h2>
        <p>Tipo: <span id="tipo"></span></p>
        <p>Peso: <span id="peso"></span></p>
    </div>
</main>
</body>
</html>
