<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>API Rick & Morty</title>
    <link rel="stylesheet" href="../statics/styles.css">
    <script src="../js/rick.js" defer></script>
    <script src="../js/script_bienvenida.js" defer></script>
</head>
<body>
<header class="header">
    <img src="../statics/images/rick.png" alt="Rick & Morty" class="logo">
    <h1>API Rick & Morty</h1>
</header>

<main class="container">
    <input type="text" id="idPersonaje" placeholder="ID del personaje">
    <button id="btnBuscarRick">Buscar</button>
    <a href="../index.html" class="btn link-home">Inicio</a>

    <div id="resultadoRick" class="card hidden">
        <img id="rickImagen" src="" alt="Imagen personaje">
        <h2 id="rickNombre"></h2>
        <p>Estado: <span id="rickEstado"></span></p>
        <p>Especie: <span id="rickEspecie"></span></p>
    </div>
</main>
</body>
</html>


